.card-primary {
  background-color: rgb(225, 225, 225);
  padding: 40px;
  text-align: center;
  box-shadow: 0px 10px 30px
  rgba(0, 0,0, 0.3);
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-primary a {
    background-color: #cecece;
    color:#454644;
    font-family: 'Poppins', sans-sarif;
    font-weight: 100;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px
  }

.card-primary a:hover {
  background-color: #454644
  /*color:#cecece;*/
}

.card-socials {

  background-color: rgb(225, 225, 225);
  padding: 40px;
  text-align: center;
  box-shadow: 0px 10px 30px
  rgba(0, 0,0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
  }

.card-socials li{
    margin-left: 10px;
    margin-right: 10px;
  }

.card-soclials a:hover {
    box-shadow: black
}

#icon {
    font-size: 40px;
    color: darkgray;
    margin: 15px;

}
